Package: shutils
Version: 0.1-1
Architecture: all
Maintainer: Igor Siciliani <dev@meantrix.com>
Installed-Size: 39
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
