Package: shutils
Version: 0.1-1
Architecture: all
Maintainer: Igor Siciliani <dev@meantrix.com>
Installed-Size: 43
Depends: git
Section: unknown
Priority: optional
Homepage: https://github.com/meantrix
Description: Bash useful functions
