Package: shutils
Version: 0.6-1
Architecture: all
Maintainer: Igor Siciliani <dev@meantrix.com>
Installed-Size: 63
Depends: git, gh
Section: unknown
Priority: optional
Homepage: https://github.com/meantrix
Description: Bash useful functions
